---
// Imports
import Layout from '../layouts/Layout.astro';
import { CONFIG_BASE } from "../consts";

// Static Data
const metaTitle = "404";
const metaDescription = "Page not found. Return to Designo to explore our innovative web development, app design, and brand experience services.";
---

<Layout {metaTitle} {metaDescription}>
	<section class="l-wrapper">
		<h1>404 page</h1>
		<a href={CONFIG_BASE}>home</a>
	</section>
</Layout>