---
// Imports
import Layout from '../layouts/Layout.astro';
import CompCallToAction from '../components/CompCallToAction.astro';
import { CONFIG_BASE } from "../consts.ts";

// Static Data
const metaTitle = "About";
const metaDescription = "Discover Alex Spencer's journey in web development and design. Based in London, UK, offering innovative web solutions.";
---

<Layout {metaTitle} {metaDescription} variant="call-to-action">
	<section class="hero | l-wrapper">
		<h1>about</h1>
		<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta vero</p>
	</section>
	<CompCallToAction />
</Layout>