---
// Imports
import Layout from '../layouts/Layout.astro';
import { CONFIG_BASE } from "../consts.ts";

// Static Data
const metaTitle = "Locations";
const metaDescription = "Get in touch with Alex Spencer for web development projects or collaborations. Reach out today to discuss how we can work together to create something amazing.";
---

<Layout {metaTitle} {metaDescription} variant="call-to-action">
	<section class="l-wrapper">
		<h1>locations</h1>
	</section>
</Layout>