---
// Imports
import { CONFIG_BASE } from "../consts";
import CompPageLinksItem from "./CompPageLinksItem.astro";

// Comp Props
const { currentPage } = Astro.props;

// Dynamic Data & Logic
const allPages = ['web-design', 'app-design', 'graphic-design'];
const otherPages = allPages.filter(page => page !== currentPage);
---

<section class="page-links | l-wrapper l-switcher">
  <h2 class="u-sr-only">Page Navigation</h2>
  {otherPages.map((pageToShow, i) => (
    <CompPageLinksItem pageToShow={pageToShow} />
  ))}
</section>


<style lang="scss">
	@use "../styles/10-functions/theme-accessor" as *;
	@use "../styles/20-mixins/media-query" as *;

	.page-link {
    --frame-width: 327
    --frame-height: 250;
    --switcher-item-target-width: 99rem;
    border-radius: var(--radius-l);
		position: relative;
	}
  
  .page-link__image {
    --space-box: 0;
    border-radius: var(--radius-l);
  }

	.page-link__content {
		position: absolute;
    inset-block-start: 50%;
    inset-inline-start: 50%;
		transform: translate(-50%, -50%);
    color: get(color, white);
    text-align: center;
    text-transform: uppercase;
	}
  
  .page-link__content h3 {
    text-transform: uppercase;
    font-size: get(font-size, 3);
  }
  
  .page-link__content p {
    font-size: get(font-size, -1);
  }

	@include media-query(from, tablet) {
    .page-link {
      --frame-width: 300
      --frame-height: 250;
    }
	}

	@include media-query(from, desktop) {
    .page-link {
      --frame-width: 541
      --frame-height: 308;
      --switcher-item-target-width: 0.01rem;
    }
	}
</style>