---
// Imports
import { SOCIAL_MEDIA } from "../consts";

// Static Data
const iconViewboxMap = {
  Facebook: "0 0 24 24",
  Instagram: "0 0 24 24",
  Pinterest: "0 0 24 24",
  Twitter: "0 0 24 20",
  Youtube: "0 0 24 24",
};
---

<ul role="list" class="social-links | l-cluster">
  {SOCIAL_MEDIA.map(item => (
    <li>
      <a href={item.url}>
        <svg class="icon" viewBox={iconViewboxMap[item.label]} aria-label={item.label}>
          <use xlink:href={`#${item.label.toLowerCase()}`}></use>
        </svg>
      </a>
    </li>
  ))}
</ul>

<style lang="scss">
  @use "../styles/10-functions/theme-accessor" as *;
  @use "../styles/20-mixins/media-query" as *;
  
  li, 
  a {
    display: inline-flex;
  }
  
  .icon {
    block-size: 1lh;
    fill: get(color, peach);
  }
  
  .icon:hover,
  a:focus-visible .icon {
    fill: get(color, light-peach);
  }
</style>