---
// Imports
import CompSkipLink from "./CompSkipLink.astro";
import CompLogoLink from "./CompLogoLink.astro";
import CompNavList from "./CompNavList.astro";
---

<header class="site-header">
  <CompSkipLink targetId="main" />

  <div class="l-wrapper l-region">
    <div class="l-repel">
      <CompLogoLink variant="dark" />
      <!-- Omit label if navigation links are identical. -->

      <nav class="l-cluster">
        <!-- mobile -->
        <details class="nav-list--vw-small">  
          <summary>
            <span class="u-sr-only">Menu</span>
            <div class="burger-menu">
              <span class="burger-menu__bar"></span>
            </div>
          </summary>
          <div id="slideout" class="l-region">
            <CompNavList />
          </div>
        </details>
        <!-- non-mobile -->
        <div class="nav-list--vw-large">
          <CompNavList />
        </div>
      </nav>
    </div>
  </div>
</header>

<style lang="scss">
  @use "../styles/10-functions/theme-accessor" as *;
  @use "../styles/20-mixins/media-query" as *;

  .site-header {
    --space-region: #{get(space, m-xl)};
    border-block-end: var(--border);
  }

  details[open] #slideout {
    --cluster-direction: column;
    --cluster-vertical-alignment: start;
    display: block;
    position: absolute;
    inset-block-start: 100%; 
    inset-inline-end: 0;
    inline-size: 100%;
    background-color: get(color, black);
    color: get(color, white);
    padding-inline: var(--space-gutter);
    z-index: 999;
    border-block-end: var(--border);
  }
  
  summary {
    list-style: none;
  }
  
  .burger-menu {
    min-block-size: 1lh;
    min-inline-size: 1lh;
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  .burger-menu__bar {
    --burger-bar-size: 3px;
    --burger-bar-color: #{get(color, black)};

    inline-size: 100%;
    block-size: var(--burger-bar-size);
    position: relative;
    background: var(--burger-bar-color);
    transition: background 0.3s ease;
    border: var(--border);
  }

  .burger-menu__bar::before,
  .burger-menu__bar::after {
    content: "";
    position: absolute;
    inline-size: calc(100% + var(--border-width) * 2);
    inset-inline-start: calc(-1 * var(--border-width));
    block-size: var(--burger-bar-size);
    background: var(--burger-bar-color);
    transition: transform 0.3s ease, inset-block-start 0.3s ease;
    border: var(--border);
  }

  .burger-menu__bar::before {
    inset-block-start: calc(-0.4em - var(--border-width));
  }
  .burger-menu__bar::after {
    inset-block-start: calc(0.4em + var(--border-width));
  }

  details[open] .burger-menu__bar {
    background: transparent;
    border: none;
  }

  details[open] .burger-menu__bar::before {
    transform: rotate(45deg);
    inset-block-start: 0;
  }

  details[open] .burger-menu__bar::after {
    transform: rotate(-45deg);
    inset-block-start: 0;
  }

  .nav-list--vw-large {
    display: none;
  }

  @include media-query(from, tablet) {
    .site-header {
      border-block-end: none;
    }

    .nav-list--vw-small {
      display: none;
    }

    .nav-list--vw-large {
      display: block;
    }
  }
</style>