---
// Imports
import CompLogoLink from "./CompLogoLink.astro";
import CompNavList from "./CompNavList.astro";
import CompSocialLinks from "./CompSocialLinks.astro";
import SiteSvgs from "./SiteSvgs.astro";
import CompCallToAction from "./CompCallToAction.astro";

// Component Props
const { variant } = Astro.props;
---

<div>
  {variant === "call-to-action" && <CompCallToAction />}
  <footer class="site-footer">
    <div class="l-wrapper l-region">
      <div class="l-repel">
        <CompLogoLink variant="light" />
        <nav><CompNavList /></nav>
      </div>
      <div class="site-footer__contact | l-switcher">
        <p>
          <b>Designo Central Office</b><br>
          3886 Wellington Street<br>
          Toronto, Ontario M9C 3J5<br>
        </p>
        <p class="u-font-weight--bold">
          Contact Us (Central Office)<br>
          P : +1 253-863-8967<br>
          M : contact@designo.co<br>
        </p>
        <div class="site-footer__contact-social">
          <CompSocialLinks />
        </div>
      </div>
      <SiteSvgs />
    </div>
  </footer>
</div>

<style lang="scss">
  @use "../styles/10-functions/theme-accessor" as *;
  @use "../styles/20-mixins/media-query" as *;

  :global(.social-links) {
    --space-cluster: var(--space-s);
    --cluster-direction: row;
    --cluster-horizontal-alignment: center;
    --cluster-vertical-alignment: center;
  }

  .site-footer {
    --space-region: #{get(space, xl-2xl)};
    --repel-direction: column;
    --cluster-direction: column;
    --switcher-item-target-width: 99rem;
    --space-switcher: var(--space-m);
    text-align: center;
    background-color: get(color, black);
    color: #8f8e8f;
  }

  .site-footer :global(nav) {
    padding-block-start: var(--space-gutter);
    border-block-start: var(--border);
    border-color: #333333;
    inline-size: 100%;
  }
  
  .site-footer__contact {
    padding-block-start: var(--space-m);
  }

  .site-footer__contact-social {
    margin-block-start: auto;
  }

  @include media-query(from, tablet) {
    :global(.social-links) {
      --cluster-horizontal-alignment: end;
    }

    .site-footer {
      --repel-direction: row;
      --cluster-direction: row;
      --switcher-item-target-width: 0.01rem;
      --space-switcher: var(--space-xl);
      text-align: start;
    }

    .site-footer :global(nav) {
      padding-block-start: unset;
      border-block-start: none;
      inline-size: unset;
    }

    .site-footer__contact {
      margin-block-start: var(--space-gutter);
      padding-block-start: var(--space-gutter);
      border-block-start: var(--border);
      border-color: #333333;
    }
  }
</style>