@use "../10-functions/theme-accessor" as *;

.button {
  --button-x-padding: 1.25em;
  --button-y-padding: 1.25em;
  --button-bg: #{get(color, white)};
  // --button-color: #{get(color, dark-grey)};
  // --button-border-color: #{get(color, grayish-dark-blue)};

  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0ch;
  position: relative;
  // padding: var(--button-padding, 0);
  cursor: pointer;
  text-decoration: none;
  border: var(
    --button-border,
    solid var(--border-width, medium) var(--button-border-color, transparent)
  );
  border-radius: var(--button-radius, var(--radius-s));
  overflow: hidden;

  color: var(--button-text, get(color, dark-grey));
  min-inline-size: fit-content;
}

.button span {
  padding: var(--button-y-padding) var(--button-x-padding);
  display: flex;

  font-size: get(font-size, base);
  font-family: get(font-family, base);
  font-weight: get(font-weight, medium);
  line-height: get(line-height, flat);
  letter-spacing: get(letter-spacing, loose);
  text-transform: uppercase;

  background-color: var(--button-bg, transparent);
  color: var(--button-color, currentColor);
}

.button:hover span,
.button:focus-visible span {
  --button-bg: #{get(color, light-peach)};
  --button-color: #{get(color, white)};
}

/* Default variant is primary, so no additional styles needed for it */
/* VARIANTS */
.button[data-button-variant="secondary"] span {
  --button-bg: #{get(color, peach)};
  --button-color: #{get(color, white)};
}

.button[data-button-variant="secondary"]:hover span {
  background-color: #{get(color, light-peach)};
}
